<ion-header>
  <ion-toolbar>
    <ion-title>mes-commandes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/catalogue"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input placeholder="search" [(ngModel)]="searchText" hidden>
  </ion-input>
  <ion-select #etat (ionChange) ="search(etat.value)" placeholder="choisir">
    <ion-select-option value="en cours">commandes en cour</ion-select-option>
    <ion-select-option value="livre">commandes livrees</ion-select-option>
  </ion-select>
  <ion-list *ngFor="let commande of commandesClient|filter:searchText">
    <ion-card *ngIf="commande.etat==='en cours'">
        <ion-item button detail href="home/mes-commandes/detail-commande/{{commande?.id}}">
          <ion-avatar slot="start">
            <img src="https://www.pngarts.com/files/3/Pokemon-Pikachu-Transparent-Background-PNG.png" alt="image">
          </ion-avatar>
          <ion-label>
            <h1>{{commande?.addedAt |date:"dd/MM/y"}}</h1>
            <small>{{commande?.etat}}</small>
          </ion-label>
          <ion-icon name="location"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="commande.etat!=='en cours'">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://www.pngarts.com/files/3/Pokemon-Pikachu-Transparent-Background-PNG.png" alt="image">
        </ion-avatar>
        <ion-label>
          <h1>{{commande?.addedAt |date:"dd/MM/y"}}</h1>
          <small>{{commande?.etat}}</small>
        </ion-label>
        <ion-icon name="location"></ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
