<ion-card color="light" *ngFor="let burger of burgers">
  <div class="img-wrapper">
  <img [src]="viewImg(burger?.image)" alt="{{burger?.nom}} "/>
  </div>
  <ion-card-content class="ion-text-center">
    <h2>{{ burger?.nom }}</h2>
    <ion-text color="medium">
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="price" color="medium"></ion-icon>
        <p> {{burger?.prix}} </p>
      </div>
      <p> {{ burger?.description }}</p>
    </ion-text>
    <ion-button color="primary" href="home/catalogue/burger/detail-burger/{{burger.id}}">details</ion-button>
    <ion-button color="success" (click)="ajouteraupanier(burger)">panier</ion-button>
  </ion-card-content>
</ion-card>
