<ion-header
  parallax
  imageUrl="../../assets/welcomeRest.jpg"
  height="350"
  bgPosition="top"
>
  <ion-toolbar color="dark">
    <ion-title> brasil burger </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container" style="margin-top: 4vh;">
    <ion-segment color="dark" value="" [(ngModel)]="segment" >
      <ion-segment-button value="grid">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'grid'" aria-selected="true">
       <ion-spinner name="circles" *ngIf="viewer"></ion-spinner>
          <div #content>
          <h1>BURGER</h1>
            <ion-card>
              <app-burger></app-burger>
            </ion-card>
            <h1>MENU</h1>
            <ion-card>
              <app-menu></app-menu>
            </ion-card>
          </div>
      </div>
      <div *ngSwitchCase="'list'">
        <ion-spinner name="circles" *ngIf="viewer"></ion-spinner>
        <div #content>
          <h1>BURGER</h1>
          <ion-card>
            <app-list-burger></app-list-burger>
          </ion-card>
          <h1>MENU</h1>
          <ion-card>
            <app-list-menu></app-list-menu>
          </ion-card>
        </div>
      </div>
    </div>
  </div>

</ion-content>
