<ion-header>
  <ion-toolbar>
    <ion-title>{{livreurConnected?.prenom}} {{livreurConnected?.nom}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 style="text-align: center">Mes livraisons</h1>
  <ion-list>
    <ion-card *ngFor="let livraison of livraisons ; let i = index">
      <ion-item-sliding *ngIf="livraison.commandes.length!=0">
    <ion-item button detail href="home/livraison/detail-livraison/{{livraison?.id}}">
      <ion-avatar slot="start">
        <img src="https://www.pngarts.com/files/3/Pokemon-Pikachu-Transparent-Background-PNG.png">
      </ion-avatar>
      <ion-label>
        <h1>{{livraison?.date|date:'dd/MM/yy'}}</h1>
        <small>{{livraison?.commandes[0].user.prenom}}  {{livraison?.commandes[0].user.nom}}</small> <br>
        <p><ion-icon name="call"></ion-icon>
          <small>{{livraison?.commandes[0].user.telephone}}</small>
        </p>
        <small style="color: #e04055">{{livraison?.commandes.length}} commandes</small>
      </ion-label>
      <p> {{livraison.prix}} </p>
    </ion-item>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
