<!--
<ion-header
  parallax
  imageUrl="../../assets/welcomeRest.jpg"
  height="350"
  bgPosition="top"
>
  <ion-toolbar color="dark">
    <ion-title> brasil burger </ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="true" >
  <ion-slides pager="true">
    <ion-slide>
      <img src="https://www.themealdb.com/images/media/meals/1529445434.jpg">
    </ion-slide>

    <ion-slide>
    <app-login></app-login>
    </ion-slide>
  </ion-slides>
  <!--
  <div id="container" style="margin-top: 4vh;">
    <ion-segment color="dark" value="" (ionChange)="segmentChanged($event)" >
      <ion-segment-button value="grid">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
    </ion-segment>
<ion-spinner name="circles" *ngIf="viewer"></ion-spinner>
  <div #content>
  <h1>BURGER</h1>
    <ion-card>
        <ion-card color="light" *ngFor="let burger of burgers">
    <div class="img-wrapper">
      <img [src]="viewImg(burger?.image)" alt="{{burger?.nom}} "/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>{{ burger?.nom }}</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="price" color="medium"></ion-icon>
          <p> {{burger?.prix}} </p>
        </div>
        <p> {{ burger?.description }} </p>
      </ion-text>
      <ion-button color="primary" (click)="details(burger.id)">details</ion-button>
      <ion-button color="success" (click)="ajouteraupanier(burger)">panier</ion-button>
    </ion-card-content>
  </ion-card>
    </ion-card>
  <h1>MENU</h1>
    <ion-card>
        <ion-card color="light" *ngFor="let menu of menus">
    <div class="img-wrapper">
      <img [src]="viewImg(menu?.image)" alt="{{menu?.nom}} "/>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>{{ menu?.nom }}</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="price" color="medium"></ion-icon>
          <p> {{menu?.prix}} </p>
        </div>
        <p> {{ menu?.description }} </p>
      </ion-text>
      <ion-button color="primary" (click)="details(menu.id)">details</ion-button>
      <ion-button color="success" (click)="ajouteraupanier(menu)">panier</ion-button>
    </ion-card-content>
  </ion-card>
    </ion-card>
  </div>
  </div>
  -->
</ion-content>
